.captions-size-large {
    --captions-num-lines: 10 !important;
}

.punch-viewer-captions-viewer-height-consumer {
    height: 100% !important;
    left: 0 !important;
    width: 100% !important;
}

.punch-viewer-page-wrapper-container {
    height: 0 !important;
    width: 0 !important;
}
