.captions-overlay-content {
    --captions-num-lines: 1 !important;
    --captions-font-size: 4.32vmin !important;
    color: white;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: normal;
}

.punch-viewer-captions-viewer-height-consumer {
    height: 10% !important;
    width: 90% !important;
    top: 90% !important;
    left: 5% !important;
}

.punch-viewer-page-wrapper-container {
    height: 90% !important;
    width: 90% !important;
}

.punch-viewer-container,
.punch-viewer-content {
    background: black !important;
}